@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
* {
  transition: all .2s; }

*, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

.pl0 {
  padding-left: 0; }

.mt43 {
  margin-top: 43px; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }

.headerTop {
  background: #006cb7;
  padding-top: 24px;
  padding-bottom: 24px; }
  .headerTop .emailme a {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300; }
    .headerTop .emailme a i {
      margin-right: 19px;
      font-size: 25px;
      vertical-align: middle;
      padding-bottom: 3px; }
    .headerTop .emailme a:hover {
      text-decoration: none;
      color: #F95558; }
  .headerTop .phoneme a {
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300; }
    .headerTop .phoneme a i {
      margin-right: 19px;
      font-size: 25px;
      vertical-align: middle;
      padding-bottom: 3px; }
    .headerTop .phoneme a:hover {
      text-decoration: none;
      color: #F95558; }
  .headerTop .timeme p {
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 300; }
    .headerTop .timeme p i {
      margin-right: 19px;
      font-size: 25px;
      vertical-align: middle;
      padding-bottom: 3px; }
  .headerTop .list-head ul {
    margin-bottom: 0;
    text-align: right; }
  .headerTop .list-head ul li {
    color: #fff;
    margin-left: 15px;
    padding: 0; }
    .headerTop .list-head ul li a {
      font-family: "Roboto Slab", sans-serif;
      color: #fff;
      font-size: 13px;
      font-weight: 300; }
      .headerTop .list-head ul li a:hover {
        text-decoration: none;
        color: #F95558; }

.headerBottom {
  background: #000;
  padding-bottom: 0; }
  .headerBottom .headbot-backgr {
    background: #fff; }
  .headerBottom h1 {
    font-family: "Roboto Slab", sans-serif;
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 189px; }
  .headerBottom h2 {
    font-family: "Roboto Slab", sans-serif;
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
    text-align: center;
    margin-top: 34px; }
  .headerBottom p {
    font-family: "Roboto Slab", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 48px; }
  .headerBottom .logo h3 {
    font-family: "Roboto Slab", sans-serif;
    color: #024777;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 28px; }
    .headerBottom .logo h3 span {
      font-family: "Roboto Slab", sans-serif;
      color: #006cb7;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }
  .headerBottom h4 {
    font-family: "Roboto Slab", sans-serif;
    color: #0a0a0a;
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px; }
  .headerBottom ul {
    text-align: right;
    margin-top: 42px; }
    .headerBottom ul li {
      margin-right: 30px;
      text-align: right; }
      .headerBottom ul li a {
        font-family: "Roboto Slab", sans-serif;
        color: #0a0a0a;
        font-size: 17px;
        font-weight: 300;
        line-height: 17px; }
  .headerBottom .headbot-line {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    box-shadow: 0px 6px 0px 0px #d3d3d3; }

.rounded-rect {
  position: relative; }
  .rounded-rect img {
    position: absolute;
    margin-top: 176px;
    width: 100%; }
  .rounded-rect p {
    position: absolute;
    margin-top: 245px;
    font-family: "Roboto Slab", sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    margin-left: 37px; }
  .rounded-rect .input-group {
    margin-top: 265px; }
    .rounded-rect .input-group .form-control {
      border-radius: 10px;
      border: 3px solid #e3e3e3;
      background-color: #006cb7;
      width: 264px;
      height: 42px; }
    .rounded-rect .input-group .btn {
      border-radius: 10px;
      background-color: #ffffff;
      width: 114px;
      height: 42px;
      font-family: "Roboto Slab", sans-serif;
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      margin-right: 41px; }

.why-us {
  margin-top: 161px;
  font-family: "Roboto Slab", sans-serif;
  text-align: center; }
  .why-us .mt43 .why-us-columns {
    border-right: 1px solid #cfcfcf; }
  .why-us h3 {
    color: #6f6f6f;
    font-size: 40px;
    font-weight: 700; }
  .why-us h4 {
    color: #858484;
    font-size: 25px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 30px; }
  .why-us .mt43 :last-child .why-us-columns {
    border: none; }
  .why-us .rounded-signs {
    background: #006cb7;
    border-radius: 50%;
    width: 114px;
    height: 114px;
    margin: 0 auto; }
    .why-us .rounded-signs img {
      padding-top: 25px;
      padding-left: 20px; }
  .why-us .mt43 :nth-child(2) .why-us-columns img {
    padding-left: 30px; }
  .why-us .mt43 :nth-child(3) .why-us-columns img {
    padding-left: 26px; }
  .why-us p {
    color: #292929;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px; }

.two-columns {
  margin-top: 114px; }
  .two-columns h5 {
    font-family: "Roboto Slab", sans-serif;
    color: #3b3b3b;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 42px; }
  .two-columns .bloocks .first-block {
    background: #f1f1f1;
    padding-left: 46px;
    padding-top: 43px;
    padding-bottom: 60px;
    padding-right: 43px; }
    .two-columns .bloocks .first-block img {
      float: left;
      margin-right: 27px; }
    .two-columns .bloocks .first-block p {
      font-family: "Roboto Slab", sans-serif;
      color: #292929;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px; }
  .two-columns .first-block .sub-blocks:nth-child(2) {
    margin-bottom: 27px; }
  .two-columns .first-block .sub-blocks:first-child {
    margin-bottom: 27px; }
  .two-columns .second-block {
    width: 100%;
    height: 398px;
    background: #BCBCBC; }
  .two-columns .no-gutter-left {
    padding-left: 0; }
  .two-columns .no-gutter-right {
    padding-right: 0; }

.testimonials {
  font-family: "Roboto Slab", sans-serif;
  background-color: #006cb7;
  padding-bottom: 100px;
  padding-top: 56px;
  margin-top: 90px;
  color: #ffffff; }
  .testimonials .row-1 .col-lg-4 h5 {
    color: #ffffff;
    font-size: 20px;
    /* Approximation due to font substitution */
    font-weight: 700;
    text-align: center;
    margin-bottom: 21px; }
  .testimonials h2 {
    font-size: 40px;
    /* Approximation due to font substitution */
    font-weight: 700;
    text-align: center; }
  .testimonials .row-2 .col-lg-4 .clients {
    background-color: #0056a6;
    padding: 69px 36px 25px; }
    .testimonials .row-2 .col-lg-4 .clients p {
      font-size: 20px;
      /* Approximation due to font substitution */
      font-weight: 200;
      text-align: left;
      padding-bottom: 73px; }
    .testimonials .row-2 .col-lg-4 .clients .im {
      width: 102px;
      height: 102px;
      overflow: hidden;
      position: absolute; }
    .testimonials .row-2 .col-lg-4 .clients img {
      width: 100%; }
    .testimonials .row-2 .col-lg-4 .clients img.rounded {
      border-radius: 50%;
      border: 4px solid #e3e3e3;
      -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2); }
    .testimonials .row-2 .col-lg-4 .clients h5 {
      font-size: 15px;
      /* Approximation due to font substitution */
      font-weight: 700;
      text-align: left;
      margin-bottom: 3px; }
    .testimonials .row-2 .col-lg-4 .clients h6 {
      font-size: 15px;
      /* Approximation due to font substitution */
      font-weight: 300;
      text-align: left; }
    .testimonials .row-2 .col-lg-4 .clients .seo {
      position: absolute;
      margin-top: 40px;
      margin-left: 120px; }

footer {
  font-family: "Roboto Slab", sans-serif;
  margin-top: 85px; }
  footer .first-block h3 {
    color: #024777;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    footer .first-block h3 span {
      color: #006cb7;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }
  footer h4 {
    color: #0a0a0a;
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px; }
  footer p {
    color: #302f2f;
    font-size: 15px;
    /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 30px;
    /* Approximation due to font substitution */
    text-align: left; }
  footer .icons {
    margin-top: 47px; }
    footer .icons i {
      font-size: 25px;
      background: #006cb7;
      border-radius: 50%;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding-top: 10px;
      text-align: center; }
    footer .icons a {
      color: #fff;
      margin-right: 20px; }
      footer .icons a:hover {
        color: #000; }
  footer ul li a {
    color: #363636;
    font-size: 15px;
    /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 30px;
    /* Approximation due to font substitution */
    text-align: left; }
  footer .first-a {
    color: #363636;
    font-size: 20px;
    /* Approximation due to font substitution */
    font-weight: 700;
    line-height: 30px;
    /* Approximation due to font substitution */
    text-align: left;
    margin-bottom: 48px; }
  footer .listss ul {
    margin-right: 160px;
    float: right; }
  footer .listss ul:first-child {
    margin-right: 57px; }

.footerButton {
  background: #f0f0f0;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 70px; }
  .footerButton p {
    color: #363636;
    font-size: 13px;
    /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 13px;
    /* Approximation due to font substitution */
    text-align: center;
    padding-top: 46px;
    padding-bottom: 46px; }

@media screen and (max-width: 1169px) {
  .headerBottom ul {
    text-align: center;
    margin-top: 0px; }

  .headerBottom ul li {
    margin-right: 15px;
    margin-right: 15px; }

  .headerTop .list-head ul {
    text-align: center; }

  .headerTop .timeme p {
    text-align: center; }

  .phoneme {
    text-align: center; }

  .emailme {
    text-align: center; }

  .headerTop {
    padding-top: 15px;
    padding-bottom: 15px; }

  .rounded-rect .input-group .form-control {
    width: 200px; }

  .rounded-rect .input-group .btn {
    width: 100px; }

  .rounded-rect p {
    font-size: 15px; }

  .why-us .mt43 .why-us-columns {
    border-right: none; }

  .clients {
    margin-top: 80px; }

  .two-columns .col-lg-6 {
    padding-right: 15px;
    padding-left: 15px; }

  .icons {
    text-align: center; }

  .listss {
    margin-bottom: 50px;
    text-align: center; }

  footer .listss ul {
    margin-left: 0;
    margin-right: 0;
    float: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 85px;
    margin-right: 85px; }

  footer .listss ul:first-child {
    margin-right: 85; } }
@media screen and (max-width: 991px) {
  .rounded-rect p {
    margin-top: 200px;
    text-align: center; }

  .rounded-rect .input-group .form-control {
    width: 500px;
    margin-left: 20px; }

  .rounded-rect .input-group {
    margin-top: 250px; }

  footer .listss ul {
    margin-left: 0;
    margin-right: 0;
    float: none;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 55px; }

  footer .listss ul:first-child {
    margin-right: 55px; } }
@media screen and (max-width: 767px) {
  .rounded-rect p {
    margin-top: 200px;
    text-align: center; }

  .rounded-rect .input-group .form-control {
    width: 200px; }

  .rounded-rect .input-group {
    margin-top: 250px; }

  .rounded-rect .input-group .btn {
    width: 70px;
    font-size: 12px; }

  footer .listss ul {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    float: none;
    text-align: center;
    margin: 50px 15px 0; }

  footer .listss ul:first-child {
    margin-right: 0; } }
@media screen and (max-width: 767px) {
  .rounded-rect p {
    margin-top: 200px;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
