@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
* {
  transition: all .2s;
}
*, body{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}
.pl0 {
	padding-left: 0;
}
.headerTop {
	$font-fam: 'Roboto Slab', sans-serif;
	$white: #fff;
	$padbut0: 0;
	background: #006cb7;
	padding-top: 24px;
	padding-bottom: 24px;
	.emailme a {
		color: $white;
		font-family: 'Roboto Slab', sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: 300;
		i {
			margin-right: 19px;
			font-size: 25px;
			vertical-align: middle;
			padding-bottom: 3px;
		}
		&:hover {
			text-decoration: none;
			color: #F95558;
		}
	}
	.phoneme a {
		color: $white;
		font-family: "Roboto Slab", sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: 300;
		i {
			margin-right: 19px;
			font-size: 25px;
			vertical-align: middle;
			padding-bottom: 3px;
		}
		&:hover {
			text-decoration: none;
			color: #F95558;
		}
	}
	.timeme p {
		font-family: "Roboto Slab", sans-serif;
		color: $white;
		font-size: 13px;
		font-weight: 300;
		i {
			margin-right: 19px;
			font-size: 25px;
			vertical-align: middle;
			padding-bottom: 3px;
		}
	}
	.list-head ul {
		margin-bottom: 0;
		text-align: right;
	}
	.list-head ul li {
		color: $white;
		margin-left: 15px;
		padding: 0;
		a {
			font-family: $font-fam;
			color: $white;
			font-size: 13px; /* Approximation due to font substitution */
			font-weight: 300;
			&:hover {
			text-decoration: none;
			color: #F95558;

			}
		}
	}
}
.headerBottom {
	background: #000;
	padding-bottom: 0;
	.headbot-backgr {
		background: #fff;
	}
	h1 {
		font-family: "Roboto Slab", sans-serif;
		color: #ffffff;
		font-size: 50px;
		line-height: 50px; 
		text-align: center;
		margin-top: 189px;
	}
	h2 {
		font-family: "Roboto Slab", sans-serif;
		color: #ffffff;
		font-size: 45px;
		line-height: 45px;
		font-weight: 300;
		text-align: center;
		margin-top: 34px;
	}
	p {
		font-family: "Roboto Slab", sans-serif;
		color: #ffffff;
		font-size: 20px; /* Approximation due to font substitution */
		font-weight: 300;
		text-align: center;
		margin-top: 48px;
	}
	.logo h3 {
		font-family: "Roboto Slab", sans-serif;
		color: #024777;
		font-size: 30px; 
		line-height: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-top: 28px;
		span {
			font-family: "Roboto Slab", sans-serif;
			color: #006cb7;
			font-size: 30px; 
			line-height: 30px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
		}
	}
	h4 {
			font-family: "Roboto Slab", sans-serif;
			color: #0a0a0a;
			font-size: 17px; 
			line-height: 17px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 25px;
		}
	ul {
		text-align: right;
		margin-top: 42px;
		li {
			margin-right: 30px;
			text-align: right;
			a {
				font-family: "Roboto Slab", sans-serif;
				color: #0a0a0a;
				font-size: 17px;
				font-weight: 300;
				line-height: 17px;
				
			}
		}
	}
	.headbot-line {
		width: 100%;
		height: 6px;
		background-color: #ffffff;
		box-shadow: 0px 6px 0px 0px #d3d3d3;
	}
}

.rounded-rect {
	position: relative;

	img {
		position: absolute;
		margin-top: 176px;
		width: 100%;
	}
	p {
		position: absolute;
		margin-top: 245px;
		font-family: "Roboto Slab", sans-serif;
		color: #ffffff;
		font-size: 25px; 
		font-weight: 100;
		text-align: left;
		margin-left: 37px;
	}
	.input-group {
		margin-top: 265px;
		.form-control {
			border-radius: 10px;
			border: 3px solid #e3e3e3;
			background-color: #006cb7;
			width: 264px;
			height: 42px;
		}
		.btn {
			border-radius: 10px;
			background-color: #ffffff;
			width: 114px;
			height: 42px;
			font-family: "Roboto Slab", sans-serif;
			color: #000000;
			font-size: 20px;
			font-weight: 700;
			margin-right: 41px;
		}
	}
}












@media screen and (max-width: 1169px) {
	.headerBottom ul {
		text-align: center;
		margin-top: 0px;
	}
	.headerBottom ul li {
		margin-right: 15px;
		margin-right: 15px;
	}
	.headerTop .list-head ul {
		text-align: center;
	}
	.headerTop .timeme p {
		text-align: center;
	}
	.phoneme {
		text-align: center;
	}
	.emailme {
		text-align: center;
	}
	.headerTop {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.rounded-rect .input-group .form-control {
		width: 200px;
	}
	.rounded-rect .input-group .btn {
		width: 100px;
	}
	.rounded-rect p {
		font-size: 15px;
	}
}
@media screen and (max-width: 991px) {
	.rounded-rect p {
		margin-top: 200px;
		text-align: center;
	}
	.rounded-rect .input-group .form-control {
		width: 500px;
		margin-left: 20px;
	}
	.rounded-rect .input-group {
		margin-top: 250px;
	}
}
@media screen and (max-width: 767px) {
	.rounded-rect p {
		margin-top: 200px;
		text-align: center;
	}
	.rounded-rect .input-group .form-control {
		width: 200px;
	}
	.rounded-rect .input-group {
		margin-top: 250px;
	}
	.rounded-rect .input-group .btn {
		width: 70px;
		font-size: 12px;
	}
}

@media screen and (max-width: 767px) {
	.rounded-rect p {
		margin-top: 200px;
		text-align: center;
	}
}